mat-card{
    height: 60%;
    //width: 25%;
    margin-top: 2%;
    margin-left: 70px;
    border: 1px solid black;
}

h2{
    background-color: lightgoldenrodyellow;
    text-align: left;
    //width: 473px;
    //height: 90px;
    //margin-top: -16px;
    //margin-left: -16px;
    margin: -10px ;
    padding: 40px !important;
}
img{
    height:90px;
    margin-left: 40px;
    margin-top: 15px;
}
table{
    //background-color: yellow;
    margin-top: -17%;
    margin-left: 50% ;
}
button{
    border: none;
    color: blue;
    background-color: white;
    margin-top: 20px;
    margin-left: 50%;
}
/*.all-cards{
    display: flex;
}*/